Port to Python 3

(CC: @rralf)

This issue is to track Python 3 porting progress.

The current code is in branch `wip/python3`. (Beware that I'm probably going to rebase it.)
It seems to work without problems for me, but I hesitate to merge into master it until we have a proper test suite.


Let me test it in the next few days. I'm going to dump some huger lists and report if errors occured.

Apparently some NNTP servers have non-UTF-8 group names, which makes `nntp-list` sad:
```pytb
Traceback (most recent call last):
  File "./sinntp", line 364, in <module>
    command(connection)
  File "./sinntp", line 276, in __call__
    print('\n'.join(group for group, _, _, flag in groups))
UnicodeEncodeError: 'utf-8' codec can't encode character '\udce9' in position 810992: surrogates not allowed
```
This seems to be a violation of [RFC 3997 §10.2](https://tools.ietf.org/html/rfc3977#section-10.2):
> Although this specification allows UTF-8 for newsgroup names, they SHOULD be restricted to US-ASCII until a successor to [RFC 1036](https://tools.ietf.org/html/rfc1036) standardises another approach. 8-bit encodings SHOULD NOT be used because they are likely to cause interoperability problems.

Work-around: export `PYTHONIOENCODING=UTF-8:surrogateescape`.

I fixed the `list` command in 2d14f25cc4e87e4ec688cc707bc7add03293ef18.
I guess `pull` and `push` won't work for a non-ASCII group name either...

I'd like to test it on news.gmane.org / gmane.linux.kernel, but apparently my IP got blocked, probably due to exhaustive use :-) You can find a lot of nasty stuff there, like erroneous encoding. The old version of sinntp successfully dumped gmane.linux.kernel - so I think this is a good stress test.

I've merged the Python 3 branch into master.

Fixed in 1.6.